.product_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 50px;
    background-color: white;
    .search_input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: #eee;
        width: 50%;
        margin: 15px;
        min-height: 30px;
        outline: none;
        border-radius: 3px;
        @media screen and (max-width: 720px) {
            width: 75%;
        }
    }
    > button {
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .product_filter {
        @media screen and (min-width: 720px) {
            display: none;
        }
    }
}

.products_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
    @media screen and (max-width: 1200px) and (min-width: 900px) { 
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 900px){ 
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 720px) {
        margin: 10%;
    }
    .product_container {
        background-color: #FFF5EE;
        border-radius: 8px;
        // box-shadow: 5px 5px 5px #888888;
    }
    
    .product_price {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 25px;
        // background-color: white;
    }
    
    .price_tag {
        width: 100%;
    }
    
    .product_cart {
        background-color: #61dafb;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 65%;
    }
    .empty_cart {
        background-color: #61dafb;
        border-radius: 5px;
        border: none;
        cursor: not-allowed;
        width: 65%;
    }
    .add_quantity {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .add_cart {
            background-color: #61dafb;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-size: 20px;
        }
    }
}
